@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

:root {
  --primary: #f1f1f1;
  --secondary: rgba(107, 104, 104, 0.4);
  --tertiary: rgba(63, 62, 62, 0.6);
}
* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) #1f1f1f;
}
/* Chrome, Edge, and Safari */
*:-webkit-scrollbar {
  width: 17px;
}

*:-webkit-scrollbar-track {
  background:#000;
  border-radius: 5px;
}

*:-webkit-scrollbar-thumb {
  background-color: #000;;
  border-radius: 14px;
  border: 3px solid #000;;
}

:-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
.anchor-offset {
  display: block;
  position: relative;
  top: -110px; /* Ajuste este valor conforme necessário */
  visibility: hidden;
}
.scroll-margin {
  scroll-margin-top: 100px; /* Ajuste o valor conforme necessário */
}

/*remove custom style*/
  .circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
  .circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    /* background: rgba(255, 255, 255, 0.071); */
    opacity: 0.5;
    animation: animate 25s linear infinite;
    bottom: -150px;  
    background-image: url('/assets/funilv.svg');
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
 
 
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
 
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
 
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
 
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
 
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
 
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
 
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
 
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
 
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
  @keyframes animate {
 
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
 
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
 
}
.triangle{
  border-top:60rem solid #fff;
  border-left:25rem solid transparent;
}

/* landpage */
.service-card-shadow {
  box-shadow: 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02),
    0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03),
    0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04),
    0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04),
    0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}

.newsletter-box-shadow {
  box-shadow: 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02),
    0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03),
    0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04),
    0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04),
    0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}